unpackaged/main/default/flows/Application_Stage_Sync_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Move_Loop_Counter_On_by_1</name>
        <label>Move Loop Counter On by 1</label>
        <locationX>892</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>vLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>421</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Get_All_Applications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Placed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.seven20__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Placement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_0</targetReference>
            </connector>
            <label>Placed</label>
        </rules>
        <rules>
            <name>Interviewing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.seven20__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Stage Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.seven20__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Further Stage Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Interviewing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Current_Stage_Match</name>
        <label>Does Current Stage Match</label>
        <locationX>435</locationX>
        <locationY>597</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <label>rejected</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection.seven20__Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fStage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Collection.seven20__Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>fStage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Collection</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Loop</name>
        <label>End Loop</label>
        <locationX>887</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Move_Loop_Counter_On_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End</stringValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
    </decisions>
    <description>Syncs Application Stage to a Job and Contact</description>
    <environments>Default</environments>
    <formulas>
        <name>fJobStage</name>
        <dataType>String</dataType>
        <expression>IF({!fStage} = &quot;Placement&quot;, &quot;Placed&quot;, 
IF({!fStage} = &quot;Offer&quot;, &quot;Offer&quot;, 
IF(Contains({!fStage}, &quot;Interview&quot;), &quot;Interview&quot;,
IF({!fStage}= &quot;Submitted&quot;, &quot;CV&quot;,
IF({!fStage}= &quot;Shortlist&quot;, &quot;No CVs&quot;, {!fStage})))))</expression>
    </formulas>
    <formulas>
        <name>fStage</name>
        <dataType>String</dataType>
        <expression>CASE({!vLoopCounter}, 
0, &quot;Placement&quot;,
1, &quot;Offer&quot;,
2,&quot;Further Stage Interview&quot;,
3, &quot;First Stage Interview&quot;,
4,&quot;Submitted&quot;,
5,&quot;Shortlist&quot;,
 &quot;End&quot;)</expression>
    </formulas>
    <interviewLabel>Stage Sync Floew {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Stage Sync Flow</label>
    <loops>
        <name>Loop_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>722</locationX>
        <locationY>591</locationY>
        <collectionReference>Get_All_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Current_Stage_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Applications</name>
        <label>Get All Applications</label>
        <locationX>811</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>seven20__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>seven20__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_Checkbox</name>
        <label>Update Active Checkbox</label>
        <locationX>221</locationX>
        <locationY>736</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>seven20__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Filled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>seven20__Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>seven20__Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>510</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Get_All_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>seven20__Candidate_Status__c</field>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>571</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Get_All_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>seven20__Candidate_Status__c</field>
            <value>
                <stringValue>Placed</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Stage</name>
        <label>Update Job Stage</label>
        <locationX>220</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Update_Active_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>seven20__Status__c</field>
            <value>
                <elementReference>fJobStage</elementReference>
            </value>
        </inputAssignments>
        <object>seven20__Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>seven20__Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>seven20__Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
