unpackaged/main/default/flows/Compliance_Reference_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Type_of_Upload</name>
        <label>Type of Upload</label>
        <locationX>170</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Screen</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
        <rules>
            <name>Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reference_Screen</targetReference>
            </connector>
            <label>Reference</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ComplianceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>seven20__Type__c</picklistField>
        <picklistObject>seven20__Compliance__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Compliance/Reference Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compliance/Reference Upload</label>
    <loops>
        <name>Open_Text_Variable_1</name>
        <label>Open Text Variable 1</label>
        <locationX>781</locationX>
        <locationY>184</locationY>
        <collectionReference>ComplianceFileUpload.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Compliance_File_Name</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Open_Text_Variable_2</name>
        <label>Open Text Variable 2</label>
        <locationX>795</locationX>
        <locationY>369</locationY>
        <collectionReference>ReferenceFileUpload.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Reference_File_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Compliance_Records</name>
        <label>Create Compliance Records</label>
        <locationX>527</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>Compliance_File_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>seven20__Contact__c</field>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Expiry_Date__c</field>
            <value>
                <elementReference>Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>seven20__Compliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reference_Records</name>
        <label>Create Reference Records</label>
        <locationX>535</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Reference_File_Upload_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>seven20__Candidate__c</field>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Date_Received__c</field>
            <value>
                <elementReference>Date_Received</elementReference>
            </value>
        </inputAssignments>
        <object>seven20__Reference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Details</name>
        <label>Get Candidate Details</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Compliance_File_Name</name>
        <label>Update Compliance File Name</label>
        <locationX>923</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Compliance_Records</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Compliance_File_Name__c</field>
            <value>
                <elementReference>Open_Text_Variable_1</elementReference>
            </value>
        </inputAssignments>
        <object>seven20__Compliance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reference_File_Name</name>
        <label>Update Reference File Name</label>
        <locationX>926</locationX>
        <locationY>367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Reference_Records</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reference_File_Name__c</field>
            <value>
                <elementReference>Open_Text_Variable_2</elementReference>
            </value>
        </inputAssignments>
        <object>seven20__Reference__c</object>
    </recordUpdates>
    <screens>
        <name>Compliance_File_Upload</name>
        <label>Compliance File Upload</label>
        <locationX>664</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_Text_Variable_1</targetReference>
        </connector>
        <fields>
            <name>ComplianceFileDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 12, 12); font-size: 16px;&quot;&gt;Compliance Upload&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Supporting File Upload&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComplianceFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Compliance_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ClickNext</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Next to Continue&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Compliance_Screen</name>
        <label>Compliance Screen</label>
        <locationX>394</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Compliance_Records</targetReference>
        </connector>
        <fields>
            <name>Compliance_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(234, 12, 12);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Compliance Upload&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Files can be uploaded on the next page.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Compliance_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Compliance_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>ComplianceType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Compliance_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expiry_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reference_File_Upload_Screen</name>
        <label>Reference File Upload Screen</label>
        <locationX>670</locationX>
        <locationY>369</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_Text_Variable_2</targetReference>
        </connector>
        <fields>
            <name>ReferenceUploadDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(4, 106, 231);&quot;&gt;Reference Upload&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Supporting File Upload&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReferenceFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>File Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Reference_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ClickNext2</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click Next to Continue&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reference_Screen</name>
        <label>Reference Screen</label>
        <locationX>391</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Reference_Records</targetReference>
        </connector>
        <fields>
            <name>ReferenceDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(4, 106, 231);&quot;&gt;Reference Upload&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Files can be loaded on the next page.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Received</name>
            <dataType>Date</dataType>
            <fieldText>Date Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Candidate_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
