unpackaged/main/default/flows/Convert_Spec_CVs_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>socApplicationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAppToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_spec_cvs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application_Details</name>
        <label>Assign Application Details</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>soAppToCreate.seven20__Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAppToCreate.seven20__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_spec_cvs.seven20__Candidate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAppToCreate.seven20__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Convert Spec CVs on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Spec CVs on Creation</label>
    <loops>
        <name>Loop_through_spec_cvs</name>
        <label>Loop through spec cvs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_spec_cv</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>socApplicationsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_spec_cv</name>
        <label>Get spec cv</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_spec_cvs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>seven20__Job_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.seven20__Converted_From__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>seven20__Speculative_CV__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_spec_cv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>seven20__Converted_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>seven20__Job__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>soAppToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Application__c</objectType>
    </variables>
    <variables>
        <name>socApplicationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Application__c</objectType>
    </variables>
</Flow>
