unpackaged/main/default/flows/Create_Placements_FroM_Inbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>811</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>socPlacements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soPlacement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Placement</name>
        <label>Generate Placement</label>
        <locationX>487</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>soPlacement.seven20__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Candidates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soPlacement.seven20__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Placements FroM Inbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Placements From Inbox</label>
    <loops>
        <name>Loop_Through_Selected_Candidates</name>
        <label>Loop Through Selected Candidates</label>
        <locationX>757</locationX>
        <locationY>391</locationY>
        <collectionReference>Candidate.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Placement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Placements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Placements</name>
        <label>Create Placements</label>
        <locationX>960</locationX>
        <locationY>408</locationY>
        <inputReference>socPlacements</inputReference>
    </recordCreates>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>710</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
        <fields>
            <name>Job</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>seven20__Placement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>seven20__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Candidate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>seven20__Candidate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>seven20__Placement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>581</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>socPlacements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Placement__c</objectType>
    </variables>
    <variables>
        <name>soPlacement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Placement__c</objectType>
    </variables>
</Flow>
