unpackaged/main/default/flows/Create_Placements_FroM_Inbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>toat</name>
        <label>toat</label>
        <locationX>1114</locationX>
        <locationY>592</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Candidates Submitted To Placements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>811</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>socPlacements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soPlacement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Placement</name>
        <label>Generate Placement</label>
        <locationX>487</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>soPlacement.seven20__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Candidates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soPlacement.seven20__Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soPlacement.seven20__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Details.seven20__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Placements FroM Inbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Placements From Inbox</label>
    <loops>
        <name>Loop_Through_Selected_Candidates</name>
        <label>Loop Through Selected Candidates</label>
        <locationX>757</locationX>
        <locationY>391</locationY>
        <collectionReference>Candidate.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Placement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Placements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Placements</name>
        <label>Create Placements</label>
        <locationX>960</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>toat</targetReference>
        </connector>
        <inputReference>socPlacements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Details</name>
        <label>Get Job Details</label>
        <locationX>897</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>seven20__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>710</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Job_Details</targetReference>
        </connector>
        <fields>
            <name>ttt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Quick Create Placement &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>fafa</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select Job and Candidates&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>seven20__Placement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>seven20__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Candidate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>seven20__Candidate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>seven20__Placement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>581</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>socPlacements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Placement__c</objectType>
    </variables>
    <variables>
        <name>soPlacement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Placement__c</objectType>
    </variables>
</Flow>
