unpackaged/main/default/flows/Create_Placement_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Start_Date_Check_In</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>PlacementId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>CandidateEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <elementReference>TemplateId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asssign</name>
        <label>asssign</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PlacementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.seven20__Candidate__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00X8d000001AeT4EAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Placement Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Placement Fee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>get_members</targetReference>
        </connector>
        <inputAssignments>
            <field>seven20__Account__c</field>
            <value>
                <elementReference>$Record.seven20__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Amount__c</field>
            <value>
                <elementReference>$Record.seven20__Permanent_Placement_Fee_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Available_in_Consolidation_Component__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Date__c</field>
            <value>
                <elementReference>$Record.seven20__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Description__c</field>
            <value>
                <stringValue>Permenant Placement Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Margin__c</field>
            <value>
                <elementReference>$Record.seven20__Permanent_Placement_Fee_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Placement__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Status__c</field>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Subject__c</field>
            <value>
                <stringValue>Permenant Placement Fee</stringValue>
            </value>
        </inputAssignments>
        <object>seven20__Billing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Monthly_Check_In</name>
        <label>Monthly Check In</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Start_Date_Check_In_0</targetReference>
        </connector>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>$Record.seven20__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>$Record.seven20__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <stringValue>RecursMonthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Monthly Check In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Start_Date_Check_In</name>
        <label>Start Date Check In</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Monthly_Check_In</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.seven20__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Start Date Check In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Start_Date_Check_In_0</name>
        <label>Start Date Check In</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.seven20__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>End Date Check In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.seven20__Candidate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_members</name>
        <label>get members</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>seven20__Placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>seven20__Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0128d000000xV5wAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>seven20__Placement_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>seven20__Placement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Members</name>
        <label>Members</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>asssign</targetReference>
        </connector>
        <flowName>Generate_billing_splits_from_members</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>socMembers</name>
            <value>
                <elementReference>get_members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vISOCode</name>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
