unpackaged/main/default/flows/Generate_billing_splits_from_members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Billing_Split</name>
        <label>Billing Split</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>BillingSplit.seven20__Split_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_members.seven20__Split__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingSplit.seven20__Billing_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingSplit.seven20__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_members.seven20__User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingSplit.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vISOCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>socBillingSplitsToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>socBillingSplitsToCreate</name>
        <label>socBillingSplitsToCreate</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>socSplits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingSplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Generate billing splits from members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate billing splits from members</label>
    <loops>
        <name>Loop_through_members</name>
        <label>Loop through members</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>socMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Billing_Split</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Splits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Splits</name>
        <label>Create Splits</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>socSplits</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingSplit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Billing_Split__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Member__c</objectType>
    </variables>
    <variables>
        <name>socSplits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>seven20__Billing_Split__c</objectType>
    </variables>
    <variables>
        <name>vISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
