unpackaged/main/default/flows/X720_Job_Quick_Create_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Job_Id</name>
        <label>Assign Job Id</label>
        <locationX>647</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>vJobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Placement_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Id1</name>
        <label>Assign Job Id</label>
        <locationX>885</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>vJobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Placement_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Job_Found</name>
        <label>Job Found</label>
        <locationX>751</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Job_Details1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectJob.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>720 Job: Quick Create Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>720 Job: Quick Create Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>1203</locationX>
        <locationY>957</locationY>
        <inputAssignments>
            <field>seven20__Account__c</field>
            <value>
                <elementReference>Get_Job.seven20__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Candidate__c</field>
            <value>
                <elementReference>Candidate.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Proposed_Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Stage__c</field>
            <value>
                <stringValue>Placement</stringValue>
            </value>
        </inputAssignments>
        <object>seven20__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_job</name>
        <label>Create job</label>
        <locationX>884</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>Assign_Job_Id1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Job_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128d000000xV5nAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Shift_Job__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>seven20__Status__c</field>
            <value>
                <stringValue>No CVs</stringValue>
            </value>
        </inputAssignments>
        <object>seven20__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>966</locationX>
        <locationY>957</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>seven20__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>1033</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>error_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;font-size: 20px;&quot;&gt;An Error Occurred&lt;/u&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;An Issue occurred when creating the Job.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please give this detail to your admin.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(215, 36, 36);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>error_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Details</name>
        <label>Job Details</label>
        <locationX>759</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Job_Found</targetReference>
        </connector>
        <fields>
            <name>Job_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>seven20__Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>seven20__Placement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateJob</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonStyle</name>
                        <value>
                            <stringValue>margin-top:24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>Create Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>Middle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>NEXT</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Job.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SelectJob</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonStyle</name>
                        <value>
                            <stringValue>margin-top:24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>Select Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>Middle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonVarient</name>
                        <value>
                            <stringValue>Success</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>NEXT</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Job.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Details1</name>
        <label>Job Details</label>
        <locationX>882</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_job</targetReference>
        </connector>
        <fields>
            <name>Job_Details1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Details1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Job Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Details1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>seven20__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>seven20__Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Placement_Details</name>
        <label>Placement Details</label>
        <locationX>758</locationX>
        <locationY>957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
        <fields>
            <name>Candidate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>seven20__Candidate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>seven20__Placement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Placement_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Placement_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pay_Rate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Pay Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Placement_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Charge_Rate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Charge Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>633</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Job_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
