unpackaged/main/default/flows/X720_Job_Quick_Create_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Job_Id</name>
        <label>Assign Job Id</label>
        <locationX>647</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>vJobId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.recordId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Job_Found</name>
        <label>Job Found</label>
        <locationX>751</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Job_Details1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectJob.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>720 Job: Quick Create Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>720 Job: Quick Create Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Job_Details</name>
        <label>Job Details</label>
        <locationX>759</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Job_Found</targetReference>
        </connector>
        <fields>
            <name>Job_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>seven20__Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>seven20__Placement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateJob</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonStyle</name>
                        <value>
                            <stringValue>margin-top:24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>Create Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>Middle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>NEXT</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Job.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SelectJob</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonStyle</name>
                        <value>
                            <stringValue>margin-top:24px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>Select Job</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>Middle</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonVarient</name>
                        <value>
                            <stringValue>Success</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>NEXT</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Job.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Details1</name>
        <label>Job Details</label>
        <locationX>882</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Job_Details1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Details1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Job Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Details1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>seven20__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>seven20__Job__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>633</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Job_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
